<div id="auth">
    <h2>Login</h2>

    <form action="/login" method="POST">

        <label for="email">Email*</label>
        <input type="email" name="email"/>

        <label for="password">Password*</label>
        <input type="password" name="password"/>

        <button type="submit">Login</button>
        {{#if errorMessage}}
            <p class="error">{{errorMessage}}</p>
        {{/if}}
    </form>
</div>