<div id="auth">
    <form action="/dashboard" method="POST">

        <label for="name">Name</label>
        <input type="text" name="name"/>

        <label for="description">Description</label>
        <input type="text" name="description"/>

        <label for="image_url">Image</label>
        <input type="text" name="image_url"/>

        <label for="type">Type</label>
        <select name="type">
            <option value="Crypto">CRYPTO</option>
            <option value="NFT">NFT</option>
        </select>

        <button type="submit">Create your dashboard</button>
    </form>
</div>