<div class="w-full h-full flex flex-col justify-center items-center">
    <p class="bold text-5xl py-3">Discover and enjoy extraordinary NFTs</p>
    <p class="text-3xl">on the world's first & largest NFT Dashboard</p>
    <div class="bg-white shadow-md h-96 mx-3 rounded-3xl flex flex-col justify-around items-center overflow-hidden sm:flex-row sm:h-52 sm:w-3/5 md:w-96 my-4">
        <img
                class="h-1/2 w-full sm:h-full sm:w-1/2 object-cover"
                src="https://lh3.googleusercontent.com/B8v011bpgKdo_6HySbsGD482_MaKYjx4lmoJBTRlZkDWpChLPl8Y1v-ZCpMELFVhKc6tOJ_VKfdp4OUSQKjFHmUhdMxBT03fDiqqdfY"
                alt="image"/>

        <div class="flex-1 w-full flex flex-col items-baseline justify-around h-1/2 pl-6 sm:h-full sm:items-baseline sm:w-1/2">
            <div class="flex flex-col justify-start items-baseline">
                <h1 class="text-lg font-normal mb-0 text-gray-600 font-sans">
                   IRONHACK
                </h1>

            </div>
            <p class="text-xs text-gray-500 w-4/5 overflow-y-scroll ">
                Discover and enjoy extraordinary NFTs
                on the world's best Dashboard
            </p>
            <div class="w-full flex justify-between items-center">
                <h1 class="font-bold text-gray-500 text-sm">1 ETH</h1>
            </div>
        </div>
    </div>


</div>




